scripts/__pycache__
.env
.env.prod
.env.local
.env.covid.*
.env.merenda.*
.Rproj.user
.Rhistory
log_file.txt
logs/

# macOS files
.DS_Store

azure/.env

environment/

data/bd/*.csv
data/bd/*.zip
data/dados_federais/*.csv
data/dados_federais/*.zip
data/dados_federais/*.gz